name: Add Issue to Project

on:
  issues:
    types: [opened]

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - name: Add issue to project
        uses: actions/add-to-project@v0.5.0
        with:
          # Replace with your project URL
          project-url: https://github.com/users/{{GITHUB_USERNAME}}/projects/{{PROJECT_NUMBER}}
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
